{% extends 'layouts/internal_layout.html' %}



{% block body %}
<head>
        <!-- Plotly.js -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      </head>
      
      <body>
            <h2>Reports</h2>
            <p>Username: {{ current_user.username }}</p>
            <p>Email: {{  current_user.email }}</p>
        <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
        <script>
                
                fetch('http://localhost:5000/api/report/main_report')
                    .then(response => {
                        return response.json()
                    })
                    .then(data => {
                        // Work with JSON data here
                        
   
                        let trace1 = {
                            x: ['Fuel', 'Dump', 'Revenue'],
                            y: [data.actual.fuel, data.actual.dump, data.actual.revenue],
                            name: 'Report',
                            type: 'bar',
                            marker:{
    color: ['rgba(75,0,130 ,1 )', 'rgba(75,0,130 ,1 )', 'rgba(75,0,130 ,1 )']
  },
                                };

                        let trace2 = {
                            x: ['Fuel', 'Dump', 'Revenue'],
                            y: [data.target.fuel, data.target.dump, data.target.revenue],
                            name: 'Limit/Target',
                            type: 'bar'
                                };           

                        var plot_data = [trace1, trace2];

                        var layout = {barmode: 'stack'};
                        
                        Plotly.newPlot('myDiv', plot_data, layout, {showSendToCloud:true});            
                    })
                    .catch(err => {
                        // Do something for an error here
                    })

            
                   
                        
                    
           
               

                
                </script>
      </body>





{% endblock %}