{% extends 'layouts/layout_no_sidebar.html' %}



{% block body %}
<style>
                table {
                  border-collapse: collapse;
                  border-spacing: 0;
                  width: 66%;
                  border: 1px solid #ddd;
                  margin-left: auto;
        margin-right: auto;
                }
                
                th, td {
                  text-align: left;
                  padding: 16px;
                }
                
                th {
                  color: whitesmoke;
                  background-color: #000000
                }
                

                </style>
<div>
        <h1 style="text-align: center; padding: 10px">
        
                <a href="/orders/order/{{ order.order_id - 1 }}"><i class="fas fa-arrow-left"></i></a>
                Order Summary# {{ order.order_id }}
                <a href="/orders/order/{{ order.order_id + 1 }}"><i class="fas fa-arrow-right"></i></a>
        </h1>
</div>

<div class="container-fluid" style="width: 66%; padding:5px;">

  <div class="row">
                <div class="col"  >
                                Name: {{ order.name }} <br>
                                Contact Email: {{ order.email }} <br>
                                <hr>
                        </div>
        <div class="col " style="text-align: right ">

                        Address: {{ order.address }} <br>
                        Date: {{ order.date }} Time: {{ order.time }} <br>
                        <hr>
                </div>
  </div>
</div>


<div>
<table border = "1">


        <tr>
                <th>Charges</th>
                <th>Price</th>
                <th>Quantity</th>
        </tr>
        {% for item in items %}
        <tr>
                <td>{{item.item.name}}</td>
                <td>{{item.item.cost}}</td>
                <td>{{item.quantity}}</td>
        </tr>
        {% endfor %}
</table>
<hr>
<table>

        {% if order.discount %}
        
                <tr>
                        <td>Discount:</td>
                        <td>5000</td>
                </tr>
        
        {% endif %}
                              
                <tr>
                        <td>Sub Total:</td>
                        <td>{{order.sub_total}} </td>
                </tr>
                <tr>
                        <td>Tax (13%):</td>
                        <td>{{order.tax}} </td>
                </tr>
                <tr>
                        <td>Total:</td>
                        <td>{{order.total}} </td>
                </tr>
                <tr>
                                <td>Amount Due:</td>
                                <td>{{order.amount_due}} </td>
                </tr>


</table>
</div>
     
<div style="width: 66%; 
        padding:5px;
        margin-left: auto;
        margin-right: auto;">

        <div>
                {% if not order.paid %}
                <button>
                        <a href="/payments/create_payment/{{ order.order_id }}">Make Payment<i class="fas fa-arrow-right"></i></a>  
                </button>
                {% else %}
                <p  style="color:firebrick;"> PAID </p>

                {% endif %}
        </div>

    

</div>





{% endblock %}