{% extends 'layouts/internal_layout.html' %}



{% block body %}

<form action='' method="post" id="orderform">



    <p>
            {{ form.name.label }} {{ quote.name }}

        </p>
    
    <p>
            {{ form.email.label }} {{ quote.email }}

        </p>
    
    <p>
            {{ form.phone_number.label }} {{ quote.phone_number }}

        </p>
    
    <p>
            {{ form.address.label }}  {{ quote.address }}

        </p>
    
    <p>
            {{ form.volume.label }} {{ quote.est_volume }}

        </p>
    
    <p>
    
            {{ form.description.label }} {{ quote.description }}

        </p>
    
    <p>
    Date: {{ quote.date }}

    </p>
    <p>
    Time: {{ quote.time }}

    </p>
    <p>
    Cost: {{ quote.cost }}
</p>
<p>{{ form.submit(label="Proceed to Payment") }}</p>
    </form>
    




<!--
    <script> var textarea = document.getElementById('description'); textarea.innerHTML = "{{ quote.description }}" </script>
    <script> var select = document.getElementById("vol"); select.value = "{{ quote.est_volume }}" </script>
    <script> var select = document.getElementById("time"); select.value = "{{ quote.time }}" </script>
-->
    {% endblock %}

    