

{% extends 'layouts/internal_layout.html' %}



{% block body %}
</div></div>

<style>

.fa-check-circle {
  color: green;
}

</style>

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

<div>
<h2>Orders</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>ID#</th>
            
            <th>Name</th>
            <th>Address</th>
            <th>Phone #</th>
            <th>Requested Date</th>
            <th>Time</th>
            <td>Total</td>
            <td>Amount Due</td>
            <td>Summary</td>
            <td>Payment</td>
          
            <td>Delete</td>

            <th>Paid</th>
          </tr>
        </thead>
        <tbody>
          {% for orders in orders %}
          <tr>
            <td><a href="/orders/order/{{ orders.order_id }}">{{ orders.order_id }}</a></td>
            
            <td>{{ orders.name }}</td>
            <td>{{ orders.address }}</td>
            <td>{{ orders.phone_number }}</td>
            <td>{{ orders.date }}</td>
            <td>{{ orders.time }}</td>
            <td>{{ orders.total }}</td>
            <td>{{ orders.amount_due}} </td>
            <td><a href="/orders/order/{{ orders.order_id }}"><i class="fas fa-file-export"></i></a>  </td>
           
            
            

            {% if not orders.paid  %}
            <td><a href="/payments/create_payment/{{ orders.order_id }}"><i class="fas fa-dollar-sign"></i></a> </td>
                <td><a href="delete_order/{{ orders.order_id }}"><i style="color: red;" class="fas fa-minus-circle"></i></a> </td>
            {% else %}
            <td><i class="fas fa-dollar-sign"></i></a> </td>
            <td><i style="color: grey;" class="fas fa-minus-circle"></i></a> </td>
            {% endif %}

            {% if orders.paid  %}
            <td><i class="fas fa-check-circle"></i> </td>

            {% else %}

            <td><i style="color: grey;" class="fas fa-check-circle"></i> </td>
            {% endif %}

          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

       {% if next_url %}
         <a  href="{{ next_url }}"><i class="fas fa-arrow-circle-left"></i>Older Orders</a>
       {% endif %} |
       {% if prev_url %}
         <a  href="{{ prev_url }}">Newer Orders<i class="fas fa-arrow-circle-right "></i></a>
       {% endif %}
</div>








<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

{% endblock %}
</body>


  </html>
