<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
   <script type="text/javascript" charset="utf-8">
         
    var socket;

            
    $(document).ready(() =>{
        socket = io.connect('http://' + document.domain + ':' + location.port + '/site');
        socket.on('connect', () => {
            console.log("Connected to Server!");
          });
       

    socket.on('set_username', (data) => {
                
      localStorage.setItem('username', data['msg']);                
      
                                 
            });
          });
    </script>

    <title>Junk Team&trade; Dashboard</title>
 
    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/bootstrapadmin.min.css') }}">
    <!-- Custom styles for this template -->                
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/dashboard.css') }}">
  </head>

  <body>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
              <div class="navbar-header">
  

                  <a class="navbar-brand" style="margin-top: -20px; margin-bottom: 20px; margin-left: 20px; 
                  href="/"><img src="{{ url_for('static', filename='img/slogan1.png') }}" alt="logo"></a>
            
                  
                </div>

            <ul class="nav flex-column">
          
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('site.dashboard') }}">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item" id="trigger5">
                <a class="nav-link" href="{{ url_for('technicians.technicians', _anchor='techs') }}">
                  <span data-feather="layers"></span>
                  Techs
                </a>
              </li>
              
              <li class="nav-item" id="trigger2">
                <a class="nav-link" href="{{ url_for('leads.leads', _anchor='leads') }}">
                  <span data-feather="calendar"></span>
                  Appointments
                </a>
              </li>

              <li class="nav-item" id="quotes">
                    <a class="nav-link" href="{{ url_for('quotes.quotes', _anchor='quotes') }}">
                      <span data-feather="calendar"></span>
                      Quotes
                    </a>
                  </li>

              <li class="nav-item" id="orders">
                    <a class="nav-link" href="{{ url_for('orders.orders', _anchor='orders') }}">
                      <span data-feather="calendar"></span>
                      Orders
                    </a>
                </li>
                <li class="nav-item" id="payments">
                  <a class="nav-link" href="{{ url_for('payments.payments', _anchor='payments') }}">
                    <span data-feather="calendar"></span>
                    Payments
                  </a>
              </li>
   
              <li class="nav-item" id="expenses">
                <a class="nav-link" href="{{ url_for('expenses.expenses', _anchor='expenses') }}">
                  <span data-feather="sun"></span>
                  Expenses
                </a>
              </li>
              <li class="nav-item" id="trigger4">
                <a class="nav-link" href="{{ url_for('reports.reports', _anchor='reports') }}">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>

{% if current_user.is_authenticated %}
    {% if 'ADMIN' in current_user.get_roles() %}

              <li class="nav-item" id="logout">
                <a class="nav-link" href="{{ url_for('auth.register_manager') }}">
                  <span data-feather="log-in"></span>
                  Add Manager
                </a>
              </li>            
    {% endif %}

    {% if 'MANAGER' in current_user.get_roles() %}

              <li class="nav-item" id="logout">
                <a class="nav-link" href="{{ url_for('auth.register_tech') }}">
                  <span data-feather="log-in"></span>
                  Add Technician
                </a>
              </li>            
    {% endif %}

              <li class="nav-item" id="logout">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">
                  <span data-feather="log-out"></span>
                  Logout
                  {{ current_user.get_roles() }}
                </a>
              </li>
{% endif %}
            </ul>
<br/><br/>

<!--
            <div><h2>Stats</h2></div>
            <br/>
              <div><h7># of Jobs:</h7></div>
            <br/>
              <div><h7>Avg Job Size:</h7></div>
            <br/>
              <div><h7>Dump:</h7></div>
            <br/>
              <div><h7>Fuel:</h7></div>
            <br/>
              <div><h7>Revenue:</h7></div>
            <br/>  
              <div><h7>Cost/Job:</h7></div>
-->
          </div>
        </nav>
    </div>
    <div class="row">
            <div class="col-sm-3" style="padding-top:20px"></div>
            <div class="col-sm-8"style="padding-top:50px">
              
        {% block body %} {% endblock %}
       </div>
    </div></div>
    
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slidereveal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slidereveal.min.js') }}"></script>
    
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>




  </body>

</html>