<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
   <script type="text/javascript" charset="utf-8">
         
    var socket;

            
    $(document).ready(() =>{
        socket = io.connect('http://' + document.domain + ':' + location.port + '/site');
        socket.on('connect', () => {
            console.log("Connected to Server!");
          });
       

    socket.on('set_username', (data) => {
                
      localStorage.setItem('username', data['msg']);                
      
                                 
            });
          });
    </script>

    <title>Junk Team&trade; Dashboard</title>

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/bootstrapadmin.min.css') }}">
    <!-- Custom styles for this template -->                
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/dashboard.css') }}">
  </head>

  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
      <div style="display: flex; justify-content: center; padding: 20px">   
  <a href="/"><img src="{{ url_for('static', filename='img/slogan1.png') }}" alt="logo"></a>

    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
<hr>
        {% block body %} {% endblock %}
       </div>

    </div></div>
    

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">  



  </body>

</html>