{% extends 'layouts/internal_layout.html' %}

{% block body %}
<div id="overlay4" onclick="off4()">
  <div id="overlay-text">Overlay Test</div>
</div>

<div id="overlay5" onclick="off5()">
  <div id="overlay-text2">Overlay Test</div>
</div>

<div id="overlay6" onclick="off6()">
  <div id="overlay-text">Overlay Test</div>
</div>


<div id="overlay" onclick="off()">
  <div id="overlay-text">Overlay Test</div>
</div>

<div id="overlay2" onclick="off2()">
  <div id="overlay-text2">Overlay Test2</div>
</div>

<div id="overlay3" onclick="off3()">
  <div id="overlay-text3" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">Share</button>
              <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
          
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
            </button>
         </div>
    </div>

  <canvas class="my-4" id="myChart" width="900" height="380"></canvas>
 </div>
</div>

<div id="overlay7">

  <div id="pricing" class="container-fluid">
    
    <div class="text-center">
      <h2>Pricing</h2>
      <h4>All pricing is based on volume with up to 15% off Donation Pick-Ups </br> 
    </div>
    

    <div class="row slideanim">
       <div class="col-sm-4 col-xs-12">
        
          <div class="panel panel-default text-center">
          
            <div class="panel-heading">
              <h1>1/16</h1>
            </div>
          
            <div class="panel-footer">
              <h3>$75</h3>
              <h4>plus Tax</h4>
            </div>
          
          </div>      
      </div>     

    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>1/8</h1>
        </div>
        
        <div class="panel-footer">
          <h3>$120</h3>
          <h4>plus Tax</h4>
         </div>
      </div>      
    </div>     


    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>1/6</h1>
        </div>
        
        <div class="panel-footer">
          <h3>$160</h3>
          <h4>plus Tax</h4>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>1/4</h1>
        </div>
        
        <div class="panel-footer">
          <h3>$210</h3>
          <h4>plus Tax</h4>
        </div>
      </div>      
    </div>    
    
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>1/3</h1>
        </div>
        
        <div class="panel-footer">
          <h3>$255</h3>
          <h4>plus Tax</h4>
         </div>
      </div>      
    </div>     


    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>3/8</h1>
        </div>
        
        <div class="panel-footer">
          <h3>$280</h3>
          <h4>plus Tax</h4>
         </div>
      </div>      
    </div>     
  
  
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>1/2</h1>
        </div>
        
        <div class="panel-footer">
          <h3>$315</h3>
          <h4>plus Tax</h4>
         </div>
      </div>      
    </div>     


    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>5/8</h1>
        </div>
        
        <div class="panel-footer">
          <h3>$350</h3>
          <h4>plus Tax</h4>
         </div>
      </div>      
    </div>     


    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>2/3</h1>
        </div>
        
        <div class="panel-footer">
          <h3>$380</h3>
          <h4>plus Tax</h4>
         </div>
      </div>      
    </div>     

    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>3/4</h1>
        </div>
        
        <div class="panel-footer">
          <h3>$400</h3>
          <h4>plus Tax</h4>
        </div>
      </div>      
    </div>       


    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>5/6</h1>
        </div>
        
        <div class="panel-footer">
          <h3>$420</h3>
          <h4>plus Tax</h4>
         </div>
      </div>      
    </div>     

    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>7/8</h1>
        </div>
        
        <div class="panel-footer">
          <h3>$450</h3>
          <h4>plus Tax</h4>
         </div>
      </div>      
    </div>     

    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Full</h1>
        </div>
        
        <div class="panel-footer">
          <h3>$465</h3>
          <h4>plus Tax</h4>
        </div>
      </div>      
    </div>  
    
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Donation</h1>
        </div>
        
        <div class="panel-footer">
          <button class="btn btn-success">5%</button>
          <button class="btn btn-success">10%</button>
          <button class="btn btn-success">15%</button>
         </div>
      </div>      
    </div>     

    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h4>Total</h6>
        </div>
        
        <div class="panel-footer">

        <p>Sub-Total:</p>
        <p>Tax:</p>
        <p>Discount:</p>
        <p>TOTAL:</p>
          
         </div>
      </div>      
    </div>     
    
  <button class="btn btn-success"> Quote </button> <button class="btn btn-danger"  onclick="off7()"> Forget </button>    
  </div>
  </div>
  </div>
  
</div>

<div  id="slider" class="right-shadow-overlay"><span><h6>Customers</h6></span>
         
</div>

<div  id="slider2" class="right-shadow-overlay">

  <h2>Appointments</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID#</th>
          <th>Timestamp</th>
          <th>Name</th>
          <th>Address</th>
          <th>Phone #</th>
          <th>Requested Date</th>
          <th>Time</th>
          <td>Description</td>
          <td>Est. Vol</td>
          <td>Cost</td>
          <th>Quote</th>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody>
        {% for leads in leads %}
        <tr>
          <td>{{ leads.lead_id }}</td>
          <td>{{ leads.timestamp }}</td>
          <td>{{ leads.name }}</td>
          <td>{{ leads.address }}</td>
          <td>{{ leads.phone_number }}</td>
          <td>{{ leads.date }}</td>
          <td>{{ leads.time }}</td>
          <td>{{ leads.description }}</td>
          <td>{{ leads.est_volume }}</td>
          <td>{{ leads.cost }}</td>
          <td><a href="/admin/create_quote/{{ leads.lead_id }}"><i class="fas fa-arrow-right">Q+</i></a>  </td>
          <td><a href="delete_lead/{{ leads.lead_id }}"><i class="fas fa-minus-circle"></i></a> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

     {% if next_url %}
       <a  href="{{ next_url }}"><i class="fas fa-arrow-circle-left"></i>Older Leads</a>
     {% endif %} |
     {% if prev_url %}
       <a  href="{{ prev_url }}">Newer Leads<i class="fas fa-arrow-circle-right"></i></a>
     {% endif %}
</div>

          
</div>

<div  id="slider3" class="right-shadow-overlay">
<br><br>
<div class="wrapper2">
  <div class="box a">Fuel</div>


  <div class="box b">Dump</div>
  <div class="box c">
  <div class="form-style-5">
  <form>
<fieldset>
<input type="text" name="field1" placeholder="Amount $$$">
<input type="text" name="field1" placeholder="Odometer (km)">
<input type="email" name="field2" placeholder="Invoice Number">
</fieldset>
<input type="submit" value="SUBMIT" />
</form>
</div>
    </div>

  
  <div class="box d">
<div class="form-style-5">
  <form>
<fieldset>
<input type="text" name="field1" placeholder="Location">
<input type="text" name="field1" placeholder="Weight (Kg)">
<input type="email" name="field2" placeholder="Invoice Number">
</fieldset>
<input type="submit" value="SUBMIT" />
</form>
</div>
  </div>
</div>
</div>

          


<div  id="slider4" class="right-shadow-overlay">
<br><br>
          <div class="wrapper">
  <div class="box a">Financial</div>
  <div class="box b">Technicians</div>
  <div class="box c"><div class="glyphreport"><span data-feather="pie-chart"></span><span data-feather="trending-up"></span><span data-feather="bar-chart-2"></span><span data-feather="dollar-sign"></span><span data-feather="filter"></span></div>
    <div class="box h" onclick="on4()">Revenue</div>
    <div class="box i" onclick="on5()">COGs</div>
    <div class="box j" onclick="on6()">Ave Job Size</div>
    </div>
  <div class="box d">
    <div class="box e" onclick="on()">Pay Stubs</div>
    <div class="box f" onclick="on2()">Hours</div>
    <div class="box g" onclick="on3()">Reviews</div>
  </div>
</div>
</div>

<div  id="slider5" class="right-shadow-overlay"><span><button class="btn btn-success">LOGIN</button><h6>Technicians</h6></span>

</div>

<div  id="slider6" class="right-shadow-overlay1">



          
</div>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <button class="btn btn-success btn-lg btn-body" onclick="on7()">Pricing</button>
        <br /> <br/>
<div id="googleMap" style="height:400px;width:100%;"></div>
  <div class="wrapper1">
  <div class="box1 a1"><h2>TODAY'S CUSTOMERS</h2></div>
  
      
      </div>
  

          
        </main>
      </div>
    </div>

    

{% endblock %}
