{% extends 'layouts/internal_layout.html' %}



{% block body %}



</div></div>


        
<script type="text/javascript" charset="utf-8">
    var socket;

    $(document).ready(function(){
    socket = io.connect('http://' + document.domain + ':' + location.port + '/technicians');

    socket.on('connect', function() {
            console.log('Connected to: http://' + document.domain + ':' + location.port + '/technicians');
            socket.emit('get_users', {});
            console.log('Got users');
    });

    var updateUsers = function () {
                    console.log('Update Cycle');
                   socket.emit('get_users', {});
                    };

    setInterval(updateUsers, 5000)

    socket.on('message', function(data) {
            
        var userList = data.msg;
        console.log(userList);
        var str = '<div> <ul>'
         userList.forEach(function (userList) {
          
            str += '<li>'+ userList + '</li>';
        }); 
        str += '</ul> </div>';
        document.getElementById("userListContainer").innerHTML = str;

        });
    
    socket.on('server_event', function(data) {
      console.log('Server Event: TEST')
      var newdata = 'test'
        document.getElementById("data").innerHTML = data.data;
        
     });

   call_server = function() {
      console.log('calling server');
      socket.emit('button', {});
  };     
     socket.on('button_ack', function(data){
       console.log('callback received');
       document.getElementById("button_test").innerHTML = data.data;


  });
          
  });


    

  
        </script>
  
  


<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

<div>
<h2>Technicians</h2>    
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID#</th>
          <th>Name</th>
          <th>Email</th>
         
        </tr>
          </thead>
        <tbody>
        {% for user_role in user_roles %}
        <tr>
          <td>{{ user_role.id }}</td>
          <td>{{ user_role.username }}</td>
          <td>{{ user_role.email }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

     {% if next_url %}
       <a  href="{{ next_url }}"><i class="fas fa-arrow-circle-left"></i>Next Page</a> |
     {% endif %} 
     {% if prev_url %}
       <a  href="{{ prev_url }}">Previous Page<i class="fas fa-arrow-circle-right"></i></a>
     {% endif %}
  </div>
<div id="data"></div>  

    <p>
        <button  onClick="call_server()">Call Server</button>
        <p>Button Status: <div id='button_test'></div> </p>
    </p>

<div> 
        <h1>Realtime UserList Test</h1>
        <div id="userListContainer"></div>  
</div>





{% endblock %}
</body>
</html>