{% extends 'layouts/internal_layout.html' %}



{% block body %}

<form action='' method="post" id="add_charge_to_quote">

<p>
{{ form.new_item.label }}
{{ form.new_item() }}
{% for error in form.new_item.errors %}
        <span style="color: red;">[{{ error }}]</span>
{% endfor %}
</p>
<p>
        {{ form.quantity.label }}
        {{ form.quantity() }}
        {% for error in form.quantity.errors %}
                <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
{{ form.csrf_token }}
<p>{{ form.submit() }}</p>


</form>
{% endblock %}