{% extends 'layouts/internal_layout.html' %}



{% block body %}

<div>
    
<form class="form-horizontal" action='' method="post" id="edit_quoteform">


<h2>Edit Quote # {{quote.quote_id}}</h2><br>
<p>
        {{ form.name.label }}
        {{ form.name(size=64, value=quote.name) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

<p>
        {{ form.email.label }}
        {{ form.email(size=64, value=quote.email) }}
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

<p>
        {{ form.phone_number.label }}
        {{ form.phone_number(size=64, value=quote.phone_number) }}<br>
        {% for error in form.phone_number.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

<p>
        {{ form.address.label }}
        {{ form.address(size=64, value=quote.address) }}<br>
        {% for error in form.address.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p style="visibility:hidden ">
            {{ form.est_volume.label }}
            {{ form.est_volume(id="est_vol") }}<br>
            {% for error in form.est_volume.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

{{ form.csrf_token }}
<p>

        {{ form.description.label }}
        {{ form.description(size=64, id="description") }}<br>
        {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

<p>
{{ form.dt.label }}
{{ form.dt(class='datepicker', value=quote.date) }}
{% for error in form.dt.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
</p>
<p>
{{ form.time.label }}
{{ form.time(id="time") }}
{% for error in form.time.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
</p>

<p>{{ form.submit() }}</p>


</form>

<script> var textarea = document.getElementById('description'); textarea.innerHTML = "{{ quote.description }}" </script>
<script> var select = document.getElementById("time"); select.value = "{{ quote.time }}" </script>
{% endblock %}