{% extends 'layouts/layout_no_sidebar.html' %}



{% block body %}
<style>
                table {
                  border-collapse: collapse;
                  border-spacing: 0;
                  width: 66%;
                  border: 1px solid #ddd;
                  margin-left: auto;
        margin-right: auto;
                }
                
                th, td {
                  text-align: left;
                  padding: 16px;
                }
                
                th {
                  color: whitesmoke;
                  background-color: #000000
                }
                .fas {
                        color: black;
                }

                </style>
<div>
        <h1 style="text-align: center; padding: 10px">
                
                <a href="/quotes/quote/{{ quote.quote_id - 1 }}"><i class="fas fa-arrow-left"></i></a>
                        Quote# {{quote.quote_id}} Summary
                <a href="/quotes/quote/{{ quote.quote_id + 1 }}"><i class="fas fa-arrow-right"></i></a>
        
        </h1>
</div>

<div class="container-fluid" style="width: 66%; padding:5px;">

  <div class="row">
                <div class="col"  >
                                Name: {{ quote.name }} <br>
                                Contact Email: {{ quote.email }} <br>
                                <hr>
                        </div>
        <div class="col " style="text-align: right ">

                        Address: {{ quote.address }} <br>
                        Date: {{ quote.date }} Time: {{ quote.time }} <br>
                        <hr>
                </div>
  </div>
</div>


<div>
<table border = "1">


        <tr>
                <th>Charges</th>
                <th>Price</th>
                <th style="text-align: center;">Quantity</th>
                <th style="text-align: center;">Delete</th>

                
                
        </tr>
        {% for item in items %}
        <tr>
                <td>{{item.item.name}}</td>
                <td>{{item.item.cost}}</td>
                <td style="text-align: center">
                   <div style="display: inline-flex">
                    <a href="/quotes/decrement_charge_item?quote_id={{quote.quote_id}}&item_id={{item.item.id}}"><i style = "padding: 4px" class="fas fa-minus-circle fa-2x "></i></a> 
                   <h4><span style = "position: 0px 4px" class="badge badge-secondary">{{item.quantity}}</span>    </h4>
                    <a href="/quotes/increment_charge_item?quote_id={{quote.quote_id}}&item_id={{item.item.id}}"><i style = "padding: 4px" class="fas fa-plus-circle fa-2x "></i></a>
                </div>
                </td>
                <td style="text-align: center;"><a href="/quotes/delete_charge_item?quote_id={{quote.quote_id}}&item_id={{item.item.id}}"><i class="fas fa-trash-alt fa-2x "></i></a> </td>
              
                
        </tr>
        {% endfor %}
        {% if not quote.ordered %}
        <tr>
                <td>
                        <form action='' method="post" id="add_charge_to_quote">        
                                {{ form.new_item.label }}
                                <span style="padding-right: 5px;">{{ form.new_item() }}</span>

                                {% for error in form.new_item.errors %}
                                        <span style="padding-right: 5px; color: red;">[{{ error }}]</span>
                                {% endfor %}

                                {{ form.csrf_token }}
                                {{ form.submit() }}
                        </form>
                </td>
        </tr>
        {% endif %}
</table>
<hr>
<table>

        {% if quote.discount %}
        
                <tr>
                        <td>Discount:</td>
                        <td>5000</td>
                </tr>
        
        {% endif %}
                              
                <tr>
                        <td>Sub Total:</td>
                        <td>{{sub}} </td>
                </tr>
                <tr>
                        <td>Tax (13%):</td>
                        <td>{{tax}} </td>
                </tr>
                <tr>
                        <td>Total:</td>
                        <td>{{total}} </td>
                </tr>
                


</table>
</div>
     
<div style="width: 66%; 
        padding:5px;
        margin-left: auto;
        margin-right: auto;">
        <div>

                {% if not quote.ordered %}
                <button>
                        <a href="/orders/create_order/{{ quote.quote_id }}">Confirm Order  <i class="fas fa-arrow-right"></i></a>  
                </button>

                {% else %}
                <a href="/orders/order/{{ order.order_id }}">Ordered<i class="fas fa-file-export"></i></a>
                {% endif %}
        
        
        </div>

        <div>

                        
                
        <!---
                <button>
                        <a href="/quotes/add_charge_item/{{ quote.quote_id }}">Add Charge  <i class="fas fa-arrow-right"></i></a>  
                </button>
        -->
        </div>

        <div>
                <button>
                        <a href="/quotes/quote/{{ quote.quote_id }}">Email Quote TODO  <i class="fas fa-arrow-right"></i></a>  
                </button>
        </div>

</div>





{% endblock %}