

{% extends 'layouts/internal_layout.html' %}



{% block body %}
</div></div>



<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
<div>
<h2>Quotes</h2>
<a href="{{ url_for('quotes.create_quote', _anchor='quotes') }}">
    <span data-feather="plus-circle"></span>
    Add Quote
  </a>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>ID#</th>
            <th>Timestamp</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone #</th>
            <th>Requested Date</th>
            <th>Time</th>
            <td>Description</td>
            <td>Est. Vol</td>
            <td>Cost</td>
            <td>Summary</td>
            <td>Edit</td>
               <td>Remove</td>
          </tr>
        </thead>
        <tbody>
          {% for quote in quotes %}
          {% if not quote.deleted %}
          <tr>
              
            <td><a href="/quotes/quote/{{ quote.quote_id }}">{{ quote.quote_id }}</a></td>
            <td>{{ quote.timestamp }}</td>
            <td>{{ quote.name }}</td>
            <td>{{ quote.address }}</td>
            <td>{{ quote.phone_number }}</td>
            <td>{{ quote.date }}</td>
            <td>{{ quote.time }}</td>
            <td>{{ quote.description }}</td>
            <td>{{ quote.est_volume }}</td>
            <td>{{ quote.cost }}</td>
            <td><a href="/quotes/quote/{{ quote.quote_id }}"><i class="fas fa-file-export"></i></a>  </td>
            <td><a href="/quotes/edit_quote/{{ quote.quote_id }}"><i class="fas fa-arrow-right"></i></a> </td>
            <td><a href="delete_quote/{{ quote.quote_id }}"><i class="fas fa-minus-circle"></i></a> </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
</div>

       {% if next_url %}
         <a  href="{{ next_url }}"><i class="fas fa-arrow-circle-left"></i>Older Quotes</a>
       {% endif %} |
       {% if prev_url %}
         <a  href="{{ prev_url }}">Newer Quotes<i class="fas fa-arrow-circle-right"></i></a>
       {% endif %}
</div>





</main>

  <!--- script -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %} 
</body>
</html>
