{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Garbage info</a></p>
      <p><a href="#">Recycling is cool</a></p>
      <p><a href="#">Some initiative/social media</a></p>
    </div>
    <div class="col-sm-8 text-left">
      <h1>Thank you for your inquiry, {{ lead.name }}.</h1>
	  <br>
	  <p><strong>You have requested:</strong></p>
	  <p> {{ lead.est_volume }} truck load of Junk removal from {{ lead.address }} at {{ lead.time }} on {{ lead.date}} </p>

      <p>Description: {{ lead.description }}</p>
      <p>Estimated Cost: {{ lead.cost }}</p>
      <p>Contact #: {{ lead.phone_number }}</p>
      <p>Reference #: {{ lead.lead_id }}</p>
      
      <hr>
      <h3>You Will Recieve a Reminder Email On The Day Of Your Appoinment . </h3>
 
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Junk Time!</p>
      </div>
      <div class="well">
        <p>Ads and Stuff!</p>
      </div>
    </div>
  </div>
</div>





{% endblock %}
