{% extends 'layouts/internal_layout.html' %}



{% block body %}

{% set id = timesheet.id %}
{% set token = session.api_session_token %}

<script>
  
  function submit_clock_out() {
    let id = {{ id }};
      console.log(id);
      fetch(`${window.origin}/api/timesheet/clockout`, {
    method: "POST",
    credentials: "include",
    body: JSON.stringify({timesheet_id: id }),
    cache: "no-cache",
    headers: new Headers({
      "content-type": "application/json"
    })
  })
  .then(function(response) {
   
    response.json().then(function(data) {
      window.location.replace("auth/logout");
    });
  })
  .catch(function(error) {
    console.log("Fetch error: " + error);
});

  }

</script>
<script>

  function submit_clock_in() {
    let token = "{{token}}";
    console.log(token);
      fetch(`${window.origin}/api/timesheet/clockin`, {
    method: "POST",
    credentials: "include",
    cache: "no-cache",
    headers: new Headers({
      "content-type": "application/json",
      "authorization": "bearer "+token
    })
  })
  .then(function(response) {
    
    response.json().then(function(data) {
      location.reload();
    });
  })
  .catch(function(error) {
    console.log("Fetch error: " + error);
});

  }

</script>

<h2>{{ current_user.username }}'s DashBoard</h2>


<p>Email: {{  current_user.email }} </p> 

{% if timesheet %} 
    {% if timesheet.clock_out_timestamp %}
         Thanks for your service!
    {% else %}
<button class="btn btn-primary" id="clock_out" onclick="submit_clock_out();">Clock Out </button>
    {% endif %}
{% else %}
<button class="btn btn-primary" id="clock_in" onclick="submit_clock_in();">Clock In </button>
{% endif %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />

    <link href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' />
    <link href='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css' rel='stylesheet' />

    <script src='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js'></script>
    <script src='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js'></script>
    <script src='https://unpkg.com/@fullcalendar/interaction@4.3.0/main.min.js'></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid', 'interaction'],
          eventLimit: true,
          events: 'api/dashboard/calender_month_events',
          eventClick: function(info) {
            var event_id = info.event.id.toString();
            window.location.href = "/leads/lead/" + event_id;
            },
          dateClick: function(info) {
          }},
        );

        calendar.render();

      });
    </script>
  </head>
  <body>
    <div id='calendar'> </div>
    </body>
</html>
{% endblock %}