{% extends 'layout.html' %}

{% block body %}


<div class="slide">
<div class="jumbotron text-center">
<img src="logotest.png" alt="logo" width="200" height="200">
<div class="oval">$75 Minimum!</div>
<div class="oval2">Same Day Service!</div>
  <!--<div class="title"><h1>Junk Team.CA</h1></div>--><b>
  <br><br>
  <br><br>
  <br><br>
   
  <h2 class="strokeme">We Take Your JUNK. It's THAT Simple.</h2>
  <p>A Kingston Owned and Operated Company</p>
  <h2 class="strokeme">Avoid Rising Franchise Prices</h2> 

  <br><br>
  
  <!--<b><a href="file:///C:/Users/Administrator/Desktop/Host/Templates/main.html#"><p><font size="1">A Loyalist Removal&copy; Partner</font></p></a>-->
  <br><div class="text-center"><a href="#contact"> <button   class="btn btn-success btn-lg btn-body" id="btnmain">CALL TODAY <br> 613-449-1308</button></a></div>

</div>
</div>
<!-- Container (About Section) -->
<div id="about" class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Junk Team</h2><br>
      <h4>Junk Team is a Kingston Owned and Operated Full Service Junk Removal company that provides affordable residential Junk Removal and Donation Pick-Up Services. Junk Team was founded on the premise that businesses need to take responsibility in helping consumers manage disposal of various forms of Junk. Thats why we take pride in our efforts to donate and recycle as much of the items we remove as possible, supporting local charities and saving our environment.</h4><br>
      <br><button onclick="myFunction()" class="btn btn-success btn-lg btn-body">Learn More</button>
    </div>
    <div class="col-sm-4">
      
    </div>
  </div>
</div>

<div id="myDIV" class="myDIV">
<p></p>
    
<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
      
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>Mission and Pledge:</strong></h4> <h4>Our mission is to provide consumers with access to enviromental conscious waste disposal services. <br><br>We Pledge to divert as much of the materials we remove from landfill by utilizing local charity and rycycle centers.</h4><br>
      <h4><strong>Values:</strong> </h4><b> <h4> We value Integrity and hard work. Politness and fairness. Individual and corporate responsibility for each other and the environment.</h4>
    </div>
  </div>
</div>
</div>
<!--
<div class="container marketing">

        
        <div class="row" id="Team">
          <div class="col-lg-4">
            <img class="rounded-circle" src="Tim.jpg" alt="CEO" width="140" height="140">
            <h2>Tim Hansford -  CEO</h2>
            <p>Co-Founder;</p><b><p> Renewable Energy Technologist</p>
            <img width="25"; height="25"; src="tweet.png" class="img-circle" alt="twitter" width="304" height="236"></a>
          </div>
          <div class="col-lg-4">
            <img class="rounded-circle" src="Jordan.jpg" alt="COO" width="140" height="140">
            <h2>Jordan Hansford - CTO</h2>
            <p>Co-Founder;</p><b><p> Automation and Controls Engineer</p>
            <img width="25"; height="25"; src="tweet.png" class="img-circle" alt="twitter" width="304" height="236"></a>

          </div>
          <div class="col-lg-4">
            <img class="rounded-circle" src="Dan.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Dan Dearborn - COO</h2>
            <p>Co-Founder; 35+ Years Project Managment for Global Energy Producers</p>
            <img width="25"; height="25"; src="tweet.png" class="img-circle" alt="twitter" width="304" height="236"></a>
          </div>
          
        </div> -->
<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>Benifits</h2>
  <h4>Why Should You Choose Junk Team?</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-usd logo-small"></span>
      <h4>Value</h4>
      <p>No Hidden Costs or Fees! Full Service Removal 15% Lower than our franchised competitors!</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-duplicate logo-small"></span>
      <h4>Licensed and Insured</h4>
      <p>We also provide specialized training to all our Removal Technicians</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">QUALITY WORK</h4>
      <p>Our Removals are Satisfaction GURANTEED</p>
    </div>
  </div>

  <br><br>
  </div>

  <div id="take" class="container-fluid text-center">
  <h2>What We Take</h2>
  <h4>We can pretty much take Anything and Everything!</h4>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-trash logo-small"></span>
      <h4>Household Garbage/Recycle</h4>
      <p>From full cleanouts to scheduled pick-ups we'll have a solution for you!</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-object-align-left logo-small"></span>
      <h4>Junk!</h4>
      <p>From the Attic to the Basement we will haul your JUNK from anywhere!</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-refresh logo-small"></span>
      <h4>Donations</h4>
      <p>We take pride in our determination to donate every item we can to our local Salvation Army and Habitat for Humanity Restore</p>
    </div>

    <br><br>
    <button onclick="myFunction2()" class="btn btn-success btn-lg btn-body">Additional Services</button>
    </div>
</div>
    <div id="myDIV2" class="myDIV2">
  
    <ul style="list-style-type:circle">
  <li>We Remove:</li>
  <ul>
  <li>Furniture</li>
  <li>Mattresses</li>
  <li>Appliances</li>
  <li>Hot Tubs</li>
  <li>Carpet</li>
  <li>Reno Debris</li>
  <li>Much More . . . </li>
  </ul>
  <br><br>

  <li>Additional Services:</li>
  <ul>
  <li>Foreclosure / Eviction Clean-Outs</li>
  <li>Business Liquidation Clean-Outs</li>
  <li>Commercial Remodeling Debris</li>
  </ul >
</ul>
</div>




<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>All pricing is based on volume with 15% off Donation Pick-Ups </br> Truck Capacity is 15 Cubic Yards (Approx. 5 Pick-Up Trucks)</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>1/8</h1>
        </div>
        <div class="panel-body">
          <p>1.8 Yards</p>
          <p>Approx. half a Pick-Up Truck</p>
        </div>
        <div class="panel-footer">
          <h3>$120</h3>
          <h4>plus Tax</h4>
         </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>1/6</h1>
        </div>
        <div class="panel-body">
          <p>2.5 Yards</p>
          <p>Approx. 3 quarters of a Pick-Up Truck</p>
        </div>
        <div class="panel-footer">
          <h3>$160</h3>
          <h4>plus Tax</h4>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>1/4</h1>
        </div>
        <div class="panel-body">
          <p>3.75 Yards</p>
          <p>Approx. 1 and 1 quarter Pick-Up Trucks</p>
        </div>
        <div class="panel-footer">
          <h3>$210</h3>
          <h4>plus Tax</h4>
        </div>
      </div>      
    </div>    
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>1/2</h1>
        </div>
        <div class="panel-body">
          <p>7.5 Yards</p>
          <p>Approx. 2 and a half Pick-Up Trucks</p>
        </div>
        <div class="panel-footer">
          <h3>$315</h3>
          <h4>plus Tax</h4>
         </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>3/4</h1>
        </div>
        <div class="panel-body">
          <p>11.25 Yards</p>
          <p>Approx. 3 and 3 quarter Pick-Up Trucks</p>
        </div>
        <div class="panel-footer">
          <h3>$400</h3>
          <h4>plus Tax</h4>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Full</h1>
        </div>
        <div class="panel-body">
          <p>15 Yards</p>
          <p>Approx. 5 Pick-Up Trucks</p>
        </div>
        <div class="panel-footer">
          <h3>$465</h3>
          <h4>plus Tax</h4>
        </div>
      </div>      
    </div>    
  </div>
</div>

<!-- Container (REVIEWS) -->
<div class="text-center" id="reviews"><h2 >Reviews</h2></div>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"I was surprised they were able to get my old Freezer out of my Basement. Top Notch Service!"<br><span>Richard</span></h4>
      </div>
      <div class="item">
        <h4>"The two men did a fantasic job while being polite and professional. They even swept out my garage after. "<br><span>Suzanne</span></h4>
      </div>
      <div class="item">
        <h4>"I had to get my junk gone and Junk Team showed up within 20 minutes from booking online!"<br><span>Steve</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">Book Your Free Quote Today!</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Book Same Day or in Advance!</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Kingston, ON</p>
      <p><span class="glyphicon glyphicon-phone"></span> +1 613 499 1308</p>
      <p><span class="glyphicon glyphicon-envelope"></span> info@JunkTeam.ca</p>
    </div>
    <div class="form-style-5">

	<form action="/" method="post" id="quoteform">

        <p>
		<legend><span class="number">1</span> Your Information</legend>
		</p>
		
		
		<p>
            {{ form.name.label }}
            {{ form.name(size=64) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		
		<p>
            {{ form.email.label }}
            {{ form.email(size=64) }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		
		<p>
            {{ form.phone_number.label }}
            {{ form.phone_number(size=64) }}<br>
            {% for error in form.phone_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		
		<p>
            {{ form.address.label }}
            {{ form.address(size=64) }}<br>
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>
		<legend><span class="number">2</span>Your Junks Information</legend>
		</p>
		<p>
            {{ form.est_volume.label }}
            {{ form.est_volume() }}<br>
            {% for error in form.est_volume.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		{{ form.csrf_token }}
		<p>
            {{ form.description.label }}
            {{ form.description(size=64) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
			<p>
		<legend><span class="number">3</span>Preferred Date and Time</legend>
		</p>
		<p>
		{{ form.dt.label }}
		{{ form.dt(class='datepicker') }}
		{% for error in form.dt.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
		</p>
		<p>
		{{ form.time.label }}
		{{ form.time() }}
		{% for error in form.time.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
		</p>
		
		<p>{{ form.submit() }}</p>
		 

	</form>



</div>
</div>
</div>
<!-- Add Google Maps -->
<div id="googleMap" style="height:400px;width:100%;"></div>
<script>
function myMap() {
var myCenter = new google.maps.LatLng(44.2311115,-76.482999);
var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:myCenter});
marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9sGXjozjKIz0CZyQP-Bi_EFxlcNSbNCU
&callback=myMap"></script>




<script>
$(document).ready(function(){
  
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
<script>
function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

<script>
function myFunction2() {
    var x = document.getElementById("myDIV2");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: '%Y-%m-%d',
        container: container,
        weekStart: 1,
		todayBtn: "linked",
		daysOfWeekDisabled: "0",
		todayHighlight: true
      };
      date_input.datepicker(options);
    })
</script>



