{% extends 'layouts/internal_layout.html' %}

{% block body %}

<div>
    
        <form class="form-horizontal" action='' method="post" id="leadform">
        
        <h2>Add Appoinment</h2>
        
        <p>
                {{ form.name.label }}
                {{ form.name(size=64) }}<br>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        
        <p>
                {{ form.email.label }}
                {{ form.email(size=64) }}
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        
        <p>
                {{ form.phone_number.label }}
                {{ form.phone_number(size=64) }}<br>
                {% for error in form.phone_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        
        <p>
                {{ form.address.label }}
                {{ form.address(size=64) }}<br>
                {% for error in form.address.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        
        <p>
                {{ form.est_volume.label }}
                {{ form.est_volume(id="est_vol") }}<br>
                {% for error in form.est_volume.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        {{ form.csrf_token }}
        <p>
        
                {{ form.description.label }}
                {{ form.description(size=64, id="description") }}<br>
                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        
        <p>
        {{ form.dt.label }}
        {{ form.dt(class='datepicker') }}
        {% for error in form.dt.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
        {{ form.time.label }}
        {{ form.time(id="time") }}
        {% for error in form.time.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.submit(label="Add") }}</p>
        
        
        </form>
        {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

{% endblock %}