
{% extends 'layouts/internal_layout.html' %}



{% block body %}
</div></div>



  <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

<div>
<h2>Appointments</h2> <a href="{{ url_for('leads.create_lead', _anchor='leads') }}">
    <span data-feather="plus-circle"></span>
    Add Appointment
  </a>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>ID#</th>
            <th>Timestamp</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone #</th>
            <th>Requested Date</th>
            <th>Time</th>
            <td>Description</td>
            <td>Est. Vol</td>
            <td>Cost</td>
            <td>Edit</td>
            <th>Quote</th>
            <td>Delete</td>
          </tr>
            </thead>
          <tbody>
          {% for lead in leads %}
          <tr>
            <td><a href="/leads/lead/{{ lead.lead_id }}">{{ lead.lead_id }}</a></td>
            <td>{{ lead.timestamp }}</td>
            <td>{{ lead.name }}</td>
            <td>{{ lead.address }}</td>
            <td>{{ lead.phone_number }}</td>
            <td>{{ lead.date }}</td>
            <td>{{ lead.time }}</td>
            <td>{{ lead.description }}</td>
            <td>{{ lead.est_volume }}</td>
            <td>{{ lead.cost }}</td>
            <td><a href="/leads/edit_lead/{{ lead.lead_id }}"><i class="fas fa-arrow-right"></i></a> </td>
            <td><a href="/quotes/create_quote/{{ lead.lead_id }}"><i class="fas fa-arrow-right"></i></a>  </td>
            <td><a href="delete_lead/{{ lead.lead_id }}"><i class="fas fa-minus-circle"></i></a> </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

       {% if next_url %}
         <a  href="{{ next_url }}"><i class="fas fa-arrow-circle-left"></i>Older Leads</a>
       {% endif %} |
       {% if prev_url %}
         <a  href="{{ prev_url }}">Newer Leads<i class="fas fa-arrow-circle-right"></i></a>
       {% endif %}
</div>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}

</body>
</html>