{% extends 'layouts/layout_no_sidebar.html' %}



{% block body %}
<style>
                table {
                  blead-collapse: collapse;
                  blead-spacing: 0;
                  width: 66%;
                  blead: 1px solid #ddd;
                  margin-left: auto;
        margin-right: auto;
                }
                
                th, td {
                  text-align: left;
                  padding: 16px;
                }
                
                th {
                  color: whitesmoke;
                  background-color: #000000
                }
                

                </style>

<div>
        <h1 style="text-align: center; padding: 10px">
        
                Appointment Summary# {{ lead.lead_id }}
                <a href="/quotes/create_quote/{{ lead.lead_id }}"><i class="fas fa-arrow-right"></i></a> 

        </h1>
</div>

<div class="container-fluid" style="width: 66%; padding:5px;">

    <div class="row">
        <div class="col"  >
            Name: {{ lead.name }} <br>
            Contact Email: {{ lead.email }} <br>
            Phone Number: {{ lead.phone_number }} <br>
            Address: {{ lead.address }} <a href="https://maps.google.com/?q={{lead.address}} Kingston Ontario"> <i class="fas fa-map-marker-alt"></i> </a><br>
            Date: {{ lead.date }} Time: {{ lead.time }} <br>
            <hr>
        </div>
        
        <div class="col " style="text-align: right ">
            Description: {{ lead.description }} <br>
            Est_Volume: {{ lead.est_volume }} <br>
            Est Cost: ${{ lead.cost }} <br>
              
            <hr>
        </div>
    </div>

</div>

  
  <a href="https://maps.google.com/?q={{lead.address}} Kingston Ontario"> </a>








{% endblock %}