{% extends 'layouts/internal_layout.html' %}

{% block body %}

<div>
    
        <form class="form-horizontal" action='' method="post" id="expenseform">
        
        <h2>Add Expense</h2>
        
        <p>
                {{ form.expense_type.label }}
                {{ form.expense_type }}<br>
                {% for error in form.expense_type.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        
        <p>
                {{ form.invoice_id.label }}
                {{ form.invoice_id(size=64) }}
                {% for error in form.invoice_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        
        <p>
                {{ form.cost.label }}
                {{ form.cost(size=64) }}<br>
                {% for error in form.cost.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        
        <p>
                {{ form.mileage.label }}
                {{ form.mileage(size=64) }}<br>
                {% for error in form.mileage.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        
        <p>
                {{ form.weight.label }}
                {{ form.weight(size=64) }}<br>
                {% for error in form.weight.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        {{ form.csrf_token }}
        <p>
        
                {{ form.description.label }}
                {{ form.description(size=64, id="description") }}<br>
                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

        
        <p>{{ form.submit(label="Add") }}</p>
        
        
        </form>
        

{% endblock %}