

{% extends 'layouts/internal_layout.html' %}



{% block body %}
</div></div>




<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

<div>
<h2>Expenses</h2>

    <a href="{{ url_for('expenses.create_expense', _anchor='expenses') }}">
        <span data-feather="plus-circle"></span>
        Add Expense
    </a>
    
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>ID#</th>
            <th>Type</th>
            <th>Invoice ID</th>
            <th>Cost</th>
            <th>Time Stamp</th>
            <th>User</th>
            
          </tr>
        </thead>
        <tbody>
          {% for expense in expenses %}
          <tr>
            <td>{{ expense.expense_id }}</td>
            <td>{{ expense.expense_type }}</td>
            <td>{{ expense.invoice_id }}</td>
            <td>{{ expense.cost }}</td>
            <td>{{ expense.timestamp }}</td>
            <td>{{ expense.userid }}</td>
            
          </tr> 
          {% endfor %}
        </tbody>
      </table>
</div>

       {% if next_url %}
         <a  href="{{ next_url }}"><i class="fas fa-arrow-circle-left"></i>Older Expenses</a>
       {% endif %} |
       {% if prev_url %}
         <a  href="{{ prev_url }}">Newer Expenses<i class="fas fa-arrow-circle-right"></i></a>
       {% endif %}
</div>








<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

{% endblock %}
</body>


  </html>
