<h1>Receipt</h1>

<ul>
    
        <li>username: {{order.name}}</li>
        <li>method: {{payment.method}}</li>
        <li>amount: {{payment.amount}}</li>
        <li>timestamp: {{payment.timestamp}}</li>
        <li>receipt_id: {{payment.receipt_id}}</li>
        <li>payment_id: {{payment.payment_id}}</li>

</ul>
<p>Thank you.</p>