{% extends 'layouts/internal_layout.html' %}

{% block body %}

<div>
    
        <form class="form-horizontal" action='' method="post" id="paymentform">
        
        <h2>Payment </h2>
        
       
      
            <p>
                SubTotal: {{ order.sub_total }}</p><br>
                <p> Tax: {{ order.tax }}</p><br>
                <p> Total: {{ order.total }}<br>
                <p> Amount Due: {{ order.amount_due }}<br>

 
            </p>
            <p>
                    {{ form.method.label }}
                    {{ form.method() }}<br>
                    {% for error in form.method.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            <p>
                    {{ form.amount.label }}
                    {{ form.amount() }}<br>
                    {% for error in form.amount.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>


        
 
        {{ form.csrf_token }}
        <p>
            {{ form.receipt_id.label }}
            {{ form.receipt_id(size=64) }}<br>
            {% for error in form.receipt_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.submit(label="Complete Payment") }}</p>
        
        
        </form>
        

{% endblock %}