
{% extends 'layouts/internal_layout.html' %}



{% block body %}
</div></div>




<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

<div>
<h2>Payments</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>ID#</th>
            <th>Order ID</th>
            <th>Method</th>
            <th>Amount</th>
            <th>Receipt_id</th>
            <th>Timestamp </th>
            <th>Receipt </th>

   
          </tr>
        </thead>
        <tbody>
          {% for payment in payments %}
          <tr>
            <td>{{ payment.payment_id }}</td>
            <td><a href="/orders/order/{{ payment.order_id }}">{{ payment.order_id }}</a>   </td>
            <td>{{ payment.method }}</td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.receipt_id }}</td>
            <td>{{ payment.timestamp }}</td>
            <td><a href="send_receipt/{{ payment.payment_id }}"><i class="far fa-envelope"></i></a> 
              {% if payment.sent %}
              <i style="color: green;" class="fas fa-check-circle"></i>   
            {% endif %}
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

       {% if next_url %}
         <a  href="{{ next_url }}"><i class="fas fa-arrow-circle-left"></i>Older Orders</a>
       {% endif %} |
       {% if prev_url %}
         <a  href="{{ prev_url }}">Newer Orders<i class="fas fa-arrow-circle-right"></i></a>
       {% endif %}
</div>








<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

{% endblock %}
</body>


  </html>
