<div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>

{% if error %}
  <div class='alter alert-danger'>{{error}}</div>
{% endif %}

{% if msg %}
  <div class='alter alert-danger'>{{msg}}</div>
{% endif %}
