<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

      <a class="navbar-brand" href="/">Junk Team&trade;.CA</a>

      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#about">ABOUT</a></li>
        <li><a href="{{ url_for('site.index', _anchor='services') }}">BENIFITS</a></li>
        <li><a href="{{ url_for('site.index', _anchor='take') }}">WHAT WE TAKE</a></li>
        <li><a href="{{ url_for('site.index', _anchor='pricing') }}">PRICING</a></li>
        <li><a href="{{ url_for('site.index', _anchor='reviews') }}">REVIEWS</a></li>
        <li><a href="{{ url_for('site.index', _anchor='contact') }}"> <button class="btn btn-success btn-body" >BOOK ONLINE NOW</button></a></li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
      text-shadow: 2px 2px 4px #000000;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  </style>